@page "/not-found"
@layout MainLayout
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>@Localizer["NotFoundHeading"]</PageTitle>

<section class="page" aria-labelledby="page-title">
    <h1 id="page-title">@Localizer["NotFoundHeading"]</h1>
    <p class="lead">@Localizer["NotFoundIntro"]</p>
    <a class="link" href="/">@Localizer["NotFoundBackLink"]</a>
</section>
